rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /meetings/{meetingId} {
      allow create: if true;
      allow read: if true;
      allow update: if true; // Allow updating sharedMedia
      
      match /participants/{participantId} {
        allow read, write: if true;
      }
      
      match /waitingRoom/{userId} {
        allow read, write: if true;
      }
      
      match /connections/{connectionId} {
        allow read, write: if true;
        
        match /candidates/{candidateId} {
          allow read, write: if true;
        }
      }
      
      match /chat/{messageId} {
        allow read, write: if true;
      }
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}